extends ./DESKTOP_templates/layout.jade
block scripts
	script(type='text/javascript', src='/js/about_us.js')
block links
	link(rel='stylesheet', type='text/css', href='/desktop_css/about_us.css')
block content
	.Mainbody(ng-controller='aboutUsController')
		// gogle analysis
		script.
		include ./DESKTOP_templates/top.jade
		// index start
		.body
			.body_container
				
			// end index
		include ./DESKTOP_templates/footer.jade