extends ./DESKTOP_templates/layout.jade
block scripts
	script(type='text/javascript', src='/js/patent.js')
block links
	link(rel='stylesheet', type='text/css', href='/desktop_css/patent.css')
block content
	.Mainbody(ng-controller='patentController')
		// gogle analysis
		script.
		include ./DESKTOP_templates/top.jade
		// index start
		.body
			.body_container
				.patent_title_List
					ul.titleUl
						a(href='javascript:;', ng-repeat='patent in aryPatentList', ng-click='fnSelectPatent(patent)', ng-class='{slectedPatent:IsSelected($index)}')
							li(ng-class='{slectedPatent:IsSelected($index)}') {{patent.title}}
				.patent_body
					h2 {{aryPatentList[nSelectPatent].title}}
					ul.imgUl
						li(ng-repeat='source in aryPatentList[nSelectPatent].imgs')
							img(src='{{source}}')
			// end index
		include ./DESKTOP_templates/footer.jade