extends ./DESKTOP_templates/layout.jade
block scripts
	script(type='text/javascript', src='/js/product.js')
block links
	link(rel='stylesheet', type='text/css', href='/desktop_css/product.css')
block content
	.Mainbody(ng-controller='productController')
		// gogle analysis
		script.
		include ./DESKTOP_templates/top.jade
		// index start
		.body
			.body_container(ng-init="fnInit(#{id})")
				.productTrace
					ul.traceUl
						li
							a(href="/product") 產品大分類&#09;
							span &gt;&#09;
						li(ng-repeat="parent in objProduct.aryParents")
							div.littlePhoto(ng-style="{'background-image':'url({{parent.pics[0]}})'}")
							a(href="/product/{{parent.id}}", ng-class="{slectedTrace:(parent.id==objProduct.id)}")
								{{parent.name}}&#09;
							span(ng-if="($index+1) != objProduct.aryParents.length") &gt;&#09;
				.productList(ng-if="!objProduct.isChild")
					ul.ListUl
						a(ng-repeat="child in objProduct.aryChilds", href="/product/{{child.id}}")
							img(src="{{child.pics[0]}}")
							p {{child.name}}
				.productDetail(ng-if="objProduct.isChild")
					.productHeader
						.PhotoArea(ng-style="{'background-image':'url({{objProduct.pics[1]}})'}")
						.productTitle
							h1 {{objProduct.name}}
					.DetailItems(ng-repeat="item in objProduct.details")
						.specTable
							h2(ng-if="( item.type == 'spec' )") 規格列表
							table(ng-if="( item.type == 'spec' )")
								tr(style="background:#218FEE;color:#fff;")
									td 項目
									td(style="border-left: 1px solid #218FEE;") 規格
								tr(ng-repeat="(title, value) in item.data")
									td {{title}}
									td(style="border-left: 1px solid #218FEE;") {{value}}
						img(ng-if="( item.type == 'photo' )", ng-repeat="img in item.data", src="{{img}}")
		// end index
		include ./DESKTOP_templates/footer.jade