extends ./DESKTOP_templates/layout.jade
block scripts
	script(type='text/javascript', src='/js/contact_us.js')
block links
	link(rel='stylesheet', type='text/css', href='/desktop_css/contact_us.css')
block content
	.Mainbody(ng-controller='contactUsController')
		// gogle analysis
		script.
		include ./DESKTOP_templates/top.jade
		// index start
		.body
			.body_container
				h1 聯絡我們
				div(style="position:relative")
					.photo
					table
						tr(ng-repeat="info in aryContactInfos")
							td(width="15%")
								span 
								span {{info.title}}
							td
								input(ng-model="info.value" ng-if="!info.isNeedBigSize")
								textarea(ng-model="info.value" ng-if="info.isNeedBigSize")
				.btnSend 確定/送出
			// end index
		include ./DESKTOP_templates/footer.jade