<div class="container">
	<a href="javascript:;" class="small_logo">LOGO</a>
	<div class="footer_content">
		<nav class="footer_section">
			<h3>區域1</h3>
			<ul class="section_liks">
				<a href="javascript:;"><li>one_first_link</li></a>
				<a href="javascript:;"><li>one_second_link</li></a>
				<a href="javascript:;"><li>one_third_link</li></a>
			</ul>
		</nav>
		<nav class="footer_section">
			<h3>區域2</h3>
			<ul class="section_liks">
				<a href="javascript:;"><li>two_first_link</li></a>
				<a href="javascript:;"><li>two_second_link</li></a>
				<a href="javascript:;"><li>two_third_link</li></a>
				<a href="javascript:;"><li>two_forth_link</li></a>
				<a href="javascript:;"><li>two_fifth_link</li></a>
				<a href="javascript:;"><li>two_sixth_link</li></a>
				<a href="javascript:;"><li>two_seventh_link</li></a>
			</ul>
		</nav>
		<nav class="footer_section">
			<h3>區域3</h3>
			<ul class="section_liks">
				<a href="javascript:;"><li>three_first_link</li></a>
				<a href="javascript:;"><li>three_second_link</li></a>
				<a href="javascript:;"><li>three_third_link</li></a>
				<a href="javascript:;"><li>three_forth_link</li></a>
			</ul>
		</nav>
		<div class="footer_section subscription">
			<h3>我們的社群</h3>
		</div>
	</div>
	<div class="copyright">
		<span>&copy; 著作版權 2018 蔬果溜溜.<span>
	</div>
</div>