
@import url("font-awesome/css/font-awesome.min.css");

body{
	min-width:1200px;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	margin: auto;
	color: #6b7485;
	font-family: '文泉驛微米黑 Regular', '文泉驛微米黑','Arial Negreta cursiva', 'Arial','微軟正黑體';
	overflow-x:hidden;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, input, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video{margin: 0;padding: 0;border: 0;transition:opacity .2s ease,color .2s ease,background .2s ease,box-shadow .2s ease,text-shadow .2s ease,filter .2s ease,padding .2s ease,border .2s ease,bottom .2s ease;font-family: '微軟正黑體';font-weight: 400;}
 *:focus { outline: none; }
a {	background: transparent;text-decoration: none;color: #000;}a:active,a:hover {outline: 0;}
button{border:none;font-family: "微軟正黑體";}
button:hover{cursor: pointer;}
hr{width: 50%;border-color: rgba(255,255,255,0.3);}

/* global */
	.limitWebView{max-width: 1024px;}
	.icon{display: inline-block;}


.header{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	background : rgba(239,239,239,0.7);
	font-size: 15px;
	z-index: 11;
}
	.logo{
		width: 95%;
		padding-left: 5%;
		height: 45px;
		line-height: 45px;
	}
	.logo span{
		font-weight: 700;
		font-size: 20px;
		color: #1884E2;
	}
	.logo #tel{
		float: right;
		margin-right: 7%;
	}
	.lstMenu{
		width: 95%;
		padding-left: 5%;
		height: 50px;
		line-height: 50px;
		font-size: 16px;
		list-style: none;
		background: #218FEE;
		box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
	}
	.lstMenu a{
		display: inline-block;
		color: #eeeeee;
		padding: 0px 20px;
	}
	.lstMenu li{font-weight: 500;}
	.lstMenu a:hover{
		color: yellow;
		background: #4BA4F0;
	}
	.selectedMenu{color: yellow;background: #4BA4F0;}
	#buyNow{float: right;padding: 7px 25px;margin: 30px;color: #fff;background-color: #C00000;}
	#buyNow:hover{background-color: #DA5050;}
	#temp{float: right;padding: 7px 5px;margin: 30px;color:#000000;font-weight: 400;border-bottom:3px solid #548235;}
.Mainbody{margin: 0;padding: 0;}
.body{
	position: relative;
	min-width: 1024px;
	max-width: 100%;
	min-height: 300px;
}
.footer{
	position: relative;
	bottom: 0px;
	width: 90%;
	height: 280px;
	padding: 30px 5%;
	background: #efefef;
	color: #000;
	font-size: 15px;
	border-top: 3px solid rgba(33,143,238,0.7);
}
	.container{
		width: 1160px;
		padding: 0 40px;
		margin: auto;
		position: relative;
	}
		.small_logo{
			position: absolute;
			width: 83px;
			height: 30px;
			margin-bottom: 30px;
		}
	.footer_content{
		display: inline-block;
		width: 1030px;
		height: 282.5px;
		padding-left: 130px;
	}
		.footer_section{
			display: inline-block;
			float: left;
			width: 120.25px;
			height: 206.5px;
			padding: 0 30px;
			margin: 0px 15px;
			text-align: left;
		}
		.footer_section h3{
			font-weight: 900;
		}
			.section_liks{
				margin-top: 20px;
				list-style: none;
			}
			.section_liks li{
				margin: 10px 0px;
				color: #999;
				font-size: 13px;
			}
			.section_liks li:hover{
				text-decoration: underline;
				color: #333;
			}
		.subscription{
			width: 200px;
			padding-left: 30px;
			border-left: 1px solid rgba(0,0,0,0.2);
		}
	.copyright{
		color: #888;
		font-size: 13px;
	}
