.body_container{
	width: 1024px;
	margin: auto;
	padding: 15px 0px;
}
.body_container .productTrace{
	width: 700px;
	padding: 15px 0px 15px 30px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.body_container .productTrace .traceUl{
	list-style: none;
}
.body_container .productTrace .traceUl li{
	display: inline-block;
}
.body_container .productTrace .traceUl a{
	padding: 0 5px;
	text-align: center;
}
.body_container .productTrace .traceUl a:hover{
	text-decoration: underline;
}

.body_container .productList{
	width: 100%;
	padding: 15px 0px 15px 0px;
}
.body_container .productList .ListUl{
	list-style: none;
}
.body_container .productList .ListUl li{
	width: 230px;
	display: inline-block;
	margin: 10px;
	padding: 10px 0px;
	text-align: center;
	border: 1px solid #fff;
}
.body_container .productList .ListUl li p{
	margin: 5px 0 0 0;
	font-weight: 800;
}
.body_container .productList .ListUl li:hover{
	border: 1px solid #218FEE;
	background: rgba(33,143,238,0.2);
	cursor: pointer;
}