<input type="hidden">
<img class="backgroundPhoto" />
<span class='icon' id="menu_icon" ng-click="$root.fnShowMenu()"></span>
<div class="logo">
	<a href="index">	
		<img src="https://vegefruit66.000webhostapp.com/images/logo.png" />
		<h1>蔬果溜溜</h1>
	</a>
</div>

<div class="lstMenu">
	<ul>
		<a href="index"><img src="https://vegefruit66.000webhostapp.com/images/logo.png" /></a>
		<a href="{{menu.link}}" ng-repeat="menu in $root.objMenuList" ng-init="$root.StyleTargetMenu(menu)" ng-class="{selectedMenu:menu.isSelected}" ng-if="menu.isShown" title="{{menu.name}}" ng-style=menu.style ><li>{{menu.name}}</li></a>
	</ul>
</div>

<div class="bgBlack" ng-click="$root.fnHideMenu()"></div>

<!-- <a href="https://www.facebook.com/vegetable66/" target="_new" class="fa fa-facebook" id="fbLink"></a> -->