<!DOCTYPE>
<html ng-app="yuJeng" ng-controller="mainController">
<head>
	<link rel="shortcut icon" href="./images/favicon.ico" >
	<link rel="stylesheet" type="text/css" href="./desktop_css/layout.css">

	<script type="text/javascript" src="./js/lib/angular.js"></script>
	<script type="text/javascript" src="./js/lib/jquery.js"></script>
	<script type="text/javascript" src="./js/layout.js"></script>

	<meta name="{{meta.name}}" content="{{meta.content}}" ng-repeat="meta in $root.header.metas">

	<title>{{$root.header.title}}</title>

	<!-- Load specific javascript or css -->
	<script type="text/javascript" src="./js/index.js"></script>
	<link rel="stylesheet" type="text/css" href="./desktop_css/index.css">

	<!-- slider -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel='stylesheet prefetch' href='http://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css'>
	<link rel="stylesheet" type="text/css" href="./desktop_css/slider.css">
	<!-- End to load -->
</head>
<body ng-controller="indexController">

	<!-- gogle analysis -->
	<script>
	</script>
	
	<!-- ng-include="$root.includePages.top" -->
	<div class="header" ng-include="$root.includePages.top" ></div>
	
	<!-- index start -->
	<div class="body">
		<div class="slider-wrapper">
			<div class="slider">
				<div class="slider--item" style="background-image: url(http://www.artith.com/images/banner-index-03.jpg)"></div>
				<div class="slider--item" style="background-image: url(http://www.legitreviews.com/images/reviews/1819/xaf_banner.png)"></div>
				<div class="slider--item" style="background-image: url(https://storage.googleapis.com/maclin/2017/11/banner-1b-1140x512.jpg)"></div>
				<div class="slider--item" style="background-image: url(http://pimg.tradeindia.com/81775/2/template_photo_1.jpg)"></div>
			</div>
		</div>

		<script src='http://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js'></script>
		<script type="text/javascript" src="./js/slider.js"></script>

		<div class="news">
			<div class="newsContent">
				<h2>公司介紹 (純文字)</h2>
				<p class="textArea">銘崙公司累積數十年馬達專業製造經驗，並引進國外先進設備及技術，致力於工業用馬達製造，再成立雅速達公司專研廠房通風，製造通風降溫設備及環保空調，使國人皆能享有通風設備所帶來的舒適環境。產品已外銷世界各國，並為國內外無數客戶OEM及ODM，因廠房通風的品質與通風設備的功能快速地提升，不管是悶熱、異味、灰塵、皆能有效改善廠內環境，在市場上展現優勢的競爭力。</p>
			</div>
			<div class="newsContent">
				<h2>Your elusive creative genius (外部插鍵)</h2>
				<p class="textArea">Elizabeth Gilbert muses on the impossible things we expect from artists and geniuses -- and shares the radical idea that, instead of the rare person "being" a genius, all of us "have" a genius. It's a funny, personal and surprisingly moving talk.</p>
				<iframe width="1024" height="500" src="https://embed.ted.com/talks/elizabeth_gilbert_on_genius" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
			<div class="newsContent">
				<h2>成功案例 (圖片+文字)</h2>
				<ul class="shortDetails">
					<li ng-repeat="detail in aryExhibitDetails" 
						ng-style="{'background-image':'url(' + detail.img + ')'}">
						<div class="bg">
							<h3>{{detail.title}}</h3>
							<div class="shortText">{{detail.shortTxt}}</div>
							<a href="javascript:;" class="linkText">查看更多</a>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- end index -->

	<!-- ng-include="$root.includePages.footer" -->
	<div class="footer" ng-include="$root.includePages.footer"></div>
</body>
</html>