.footer
  .container
    a.small_logo(href='javascript:;') LOGO
    .footer_content
      nav.footer_section
        h3 區域1
        ul.section_liks
          a(href='javascript:;')
            li one_first_link
          a(href='javascript:;')
            li one_second_link
          a(href='javascript:;')
            li one_third_link
      nav.footer_section
        h3 區域2
        ul.section_liks
          a(href='javascript:;')
            li two_first_link
          a(href='javascript:;')
            li two_second_link
          a(href='javascript:;')
            li two_third_link
          a(href='javascript:;')
            li two_forth_link
          a(href='javascript:;')
            li two_fifth_link
          a(href='javascript:;')
            li two_sixth_link
          a(href='javascript:;')
            li two_seventh_link
      nav.footer_section
        h3 區域3
        ul.section_liks
          a(href='javascript:;')
            li three_first_link
          a(href='javascript:;')
            li three_second_link
          a(href='javascript:;')
            li three_third_link
          a(href='javascript:;')
            li three_forth_link
      .footer_section.subscription
        h3 我們的社群
    .copyright
      span
        | © 著作版權 2018 蔬果溜溜.
        span
