
@import url("font-awesome/css/font-awesome.min.css");

body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	margin: auto;
	color: #6b7485;
	font-family: '文泉驛微米黑 Regular', '文泉驛微米黑','Arial Negreta cursiva', 'Arial','微軟正黑體';
	overflow-x:hidden;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, input, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video{margin: 0;padding: 0;border: 0;transition:opacity .2s ease,color .2s ease,background .2s ease,box-shadow .2s ease,text-shadow .2s ease,filter .2s ease,padding .2s ease,border .2s ease;font-family: '微軟正黑體';font-weight: 400;}
 *:focus { outline: none; }
a {	background: transparent;text-decoration: none;color: #000;}a:active,a:hover {outline: 0;}
button{border:none;font-family: "微軟正黑體";}
button:hover{cursor: pointer;}
hr{width: 50%;border-color: rgba(255,255,255,0.3);}

/* global */
	.icon{display: inline-block; width: 32px;height: 32px;}
.header{
	position: relative;
	width: 100%;
	height: 100px;
	font-size: 18px;
	padding-bottom: 5px;
}
	#menu_icon{
		position: absolute;
		left: 10px;
		top: 10px;
		background: url("./../images/icon/menu.png");
		background-position: center;
		background-size: 20px 20px;
		background-repeat: no-repeat;
		z-index: 5;
	}
	.backgroundPhoto{
		width: 100%;
		height: 100%;
		background: url("./../images/banner_fruit.jpg");
		background-position: 60% center;
		background-size: auto 250px;
		background-repeat: no-repeat;
		filter: blur(2px);
		-webkit-filter: blur(2px); /* Safari */
		-webkit-filter: opacity(40%); /* Safari */
		filter: opacity(40%);
		z-index: -1;
	}
	.logo{
		position: absolute;
		left: 55px;
		top: 0;
		width: 90%;
		height: 80px;
	}
	.logo img{
		max-width: 85%;
		max-height: 85%;
	}
	.logo h1{
		font-size: 24px;
		margin-top: -5px;
		font-weight: 900;
	}

	.lstMenu{
		position: fixed;
		top: 0;
		left: -65%;
		width: 60%;
		height: 100%;
		font-size:15px;
		background: #fff;
		box-shadow: 2px 2px 10px #888;
		z-index: 10;
	}
	.lstMenu a{
		display: block;
		padding:15px 30px;
		color: #000000;
		line-height: 30px;
		text-align: left;
		font-size: 20px;
		border-bottom: 1px solid #548235;
	}
	.lstMenu a img{max-width: 100%; max-height: 50px;}
	.lstMenu li{font-weight: 700; list-style: none;}
	.selectedMenu{
		background-color: #548235;
		color: #fff;
	}
	.bgBlack{
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.2);
		z-index: 8;
	}
.body{
	position: relative;
	width: 100%
	height: auto;
}

.copyright{
	width: 100%;
	padding:20px 0;
	text-align: center;
	font-size:9px;
}
#contactInfo{
	padding: 30px 10px;
	font-size:13px;
	font-weight: 700;
	color: red;
}